<!DOCTYPE html>
<html lang="de">
  <head>
    <title>digitalPRAXIS</title>
    <meta charset="utf-8">
    <meta name="keywords" content="digitalPRAXIS,Robert,Karpinski,Webdesign,Corporate,Design,Online,Internetseiten,HTML,CSS,Druckvorstufe,Logo,Flyer,Visitenkarten,Prospekte,Brosch&uuml;r,Bief,Messewerbung,Aufkleber,WebXR,WebVR" />
    <meta name="description" content="digitalPRAXIS ist Dipl.-Ing. Robert Karpinski als Druck- und Medientechnikdienstleister in Berlin. Von der Beratung und Konzeption bis zur Umsetzung von Onlinemedien oder Druckvorstufe stammt alles aus einer Hand." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100:300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link type="text/plain" rel="author" href="https://digitalpraxis.de/humans.txt" />
  </head>
  <body>
    <noscript>
      <strong>
        Sorry aber die digitalPRAXIS funktioniert nicht  ohne JavaScript. Bitte aktiviere JavaScript und lade die Seite neu. Danke.
        <hr>
        Sorry but digitalPRAXIS does not work without JavaScript. Please enable JavaScript and reload the page. Thank you.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
<!-- Welcome in the build of
     _  _        _  _          _  ___  ___    _   __  __ ___  ___ 
  __| |(_) __ _ (_)| |_  __ _ | || _ \| _ \  /_\  \ \/ /|_ _|/ __|
 / _` || |/ _` || ||  _|/ _` || ||  _/|   / / _ \  >  <  | | \__ \
 \__,_||_|\__, ||_| \__|\__,_||_||_|  |_|_\/_/ \_\/_/\_\|___||___/
          |___/    
		  
  Made with THE Progressive JavaScript Framework Combo!
      Vue.js  > https://vuejs.org/
      Vuetify > https://vuetifyjs.com/
-->