<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <div>
        <h1 class="display-1 mt-2 text-xs-center">Hier werden sie verarztet!</h1>
        <v-flex >
          <v-container pa-0 fluid grid-list-xl>
            <v-layout row wrap>
              <v-flex xs12 sm6 md6 lg4 offset-lg2 offset-xl3 xl3>
                <v-card class="elevation-0 transparent">
                  <v-card-text  class="text-xs-center -img">
                    <v-img
                      aspect-ratio="1"
                      height="600px"
                      min-height="240px"
                      max-height="400px"
                      src="/img/portraet-kontakt.jpg"
                      lazy-src="/img/portraet-kontakt.jpg"
                      alt="Dipl.-Ing.(FH) Robert Karpinski"
                      title="Dipl.-Ing.(FH) Robert Karpinski" ></v-img>
                    <p class="my-2">Dipl.-Ing.(FH) Robert Karpinski</p>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 sm6 md6 lg4 xl3>
                <v-card class=" elevation-0 transparent">
                  <v-card-text>
                    <h2 class="mb-3 headline">Kontakt</h2>
                    <p class="mb-3">
                      <strong>digitalPRA<strong class="red--text">X</strong>IS</strong><br>
                      Dipl.-Ing.(FH) Robert Karpinski<br>
                      Kissingenstra&szlig;e 13<br>
                      D-13189 Berlin
                    </p>
                    <p class="mb-3">
                      Mobil: +49 (0) 160 550 17 61<br>
                      E-Mail: <a href="mailto:karpinski@digitalpraxis.de">karpinski@digitalpraxis.de</a><br>
                      Web: <a href="http://www.digitalpraxis.de/">www.digitalpraxis.de</a>
                    </p>
                    <h3>Ich freue mich auf Ihre Anfrage!</h3>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </div>
    </v-slide-y-transition>
  </v-container>
</template>
<style scoped>
</style>
