<template>
<v-container fluid pa-0>
  <v-slide-y-transition mode="out-in">
    <div>
    <section id="carousel">
      <v-carousel dark hide-delimiters class="mb-0" height="60vh">
        <v-carousel-item
          v-for="(item,i) in carouselSlides"
          :key="i"
          :src="item.src"
        ></v-carousel-item>
      </v-carousel>
    </section>
    <section class="my-0 my-0 headteaser">
      <v-parallax :src="img.paralaxHead" height="400">
        <v-layout
          column
          align-center
          justify-center
          class=""
        >
          <h1 class="primary--text my-2 headline text-xs-center textshadow-white">Jede Aufgabe braucht das richtige Werkzeug</h1>
          <h4 class="primary--text mb-3 display-1 text-xs-center">Als Dipl.-Ing.(FH) für Druck- und Medientechnik helfe ich Ihres zu wählen</h4>
        </v-layout>
      </v-parallax>
    </section>
    <v-flex xs12 class="py-5 my-0 home-teaser">
      <v-container fluid grid-list-xl>
        <v-layout row wrap>
          <v-flex xs12 sm6 lg3
            v-for="(item,i) in teaser" :key="i"
          >
            <v-hover>
              <v-card
                slot-scope="{ hover }"
                :class="`elevation-${hover ? 12 : 0}`"
                class="home-teaser transparent"
                to="/projects"
                >
                <v-card-text class="text-xs-center">
                  <v-img
                    class="border"
                    aspect-ratio="1"
                    height="300px"
                    min-height="240px"
                    max-height="400px"
                    :src="item.img"
                    :alt="item.title" :title="item.title">
                  </v-img>
                </v-card-text>
                <v-card-title primary-title class="layout justify-center">
                  <div class="pt-0 headline text-xs-center">{{ item.title }}</div>
                </v-card-title>
                <v-card-text class="pt-0 subheading">{{ item.text }}</v-card-text>
              </v-card>
            </v-hover>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
    </div>
  </v-slide-y-transition>
</v-container>
</template>
<script>
export default {
  name: 'App',
  data () {
    return {
      img: {
        paralaxHead: '/img/backs/docdesk.jpg'
      },
      teaser: [
        {
          title: 'Online',
          img: '/img/leistung_web.png',
          text: 'Layout, Frontend Programmierung, CMS-Systeme, Bannergestaltung, E-Mail Newsletter, Social-Media Marketing, Mailings, Präsentationen'
        },
        {
          title: 'Print',
          img: '/img/leistung_komm.png',
          text: 'Druckvorstufe, Druckmanagement, Qualitätssicherung, Visitenkarten, Briefbogen, Umschläge, Mappen, Notizblöcke, Kalender, Aufkleber, Stempel, Flyer, Broschüren, Plakate & Poster, Anzeigen, Werbeartikel'
        },
        {
          title: 'Außenwerbung',
          img: '/img/leistung_outdoor.png',
          text: 'Plakate, Firmenschilder, Werbetafeln, Außenfahnen, Spannbanner, Messestände, City-Light Poster, Fahrzeug-Beschriftung'
        },
        {
          title: 'Gestaltung',
          img: '/img/leistung_logo.png',
          text: 'Beratung, Gestaltung, Wort- & Bildmarken, Logo-Design, Corporate Design'
        }
      ],
      carouselSlides: [
        { src: '/img/projects/banner/medien.jpg' },
        { src: '/img/projects/banner/logopaedie.jpg' },
        { src: '/img/projects/banner/triersowie.jpg' },
        { src: '/img/projects/banner/metavrse.jpg' },
        { src: '/img/projects/banner/trierwordformat.jpg' }
      ],
      pralax: {
        reddotsBG: '@/assets/bg-white-reddots.png',
        codeBG: '@/assets/code-1076536_1920.jpg'
      }
    }
  }
}
</script>
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.home-teaser img {
  border:1px solid #BBB;
  box-shadow: rgba(0,0,0,.5);
}
/* parallax teaser */
.headteaser h4 {
  width:90%;
  min-width:310px;
  max-width:900px;
  font-size: 3rem;
  font-weight:bold;
}
.headteaser h4, .headteaser h1 {
  text-shadow: 0 0 10px rgba(155,155,155,0.2),  0 0 18px rgba(255,255,255,1);
}
/* WorkFilter */
input[type="checkbox"] {
  margin-bottom: 10px;
  margin-top: 10px;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: visibility 0s, opacity 0.5s linear;
}
.online-filter:checked ~ .online,
.print-filter:checked ~ .print,
.web-filter:checked ~ .web {
  visibility: visible;
  opacity: 1;
  position: relative;
}
.border {border:1px solid lightgrey;}
</style>
