<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <div>
        <h1 class="display-1 mt-2 text-xs-center">Das Kleingedruckte ganz groß</h1>
        <v-flex>
          <v-container fluid grid-list-xl>
            <v-layout row wrap>
              <v-flex xs12 sm6 md6 lg4 offset-lg2 offset-xl3 xl3>
                <v-card class=" elevation-0 transparent">
                  <v-card-text class="text-xs-center ">
                    <v-img
                      contain
                      aspect-ratio="1"
                      height="300px"
                      min-height="240px"
                      max-height="400px"
                      src="/img/logo/legal.svg"
                      alt="Dipl.-Ing.(FH) Robert Karpinski"
                      title="Dipl.-Ing.(FH) Robert Karpinski" >
                    </v-img>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 sm6 md6 lg4 xl3>
                <v-card class=" elevation-0 transparent">
                  <v-card-text>
                    <h2 class="headline mt-0">Impressum</h2>
                    <h2 class="title mt-3 mb-3">Anbieter der Dienstleistung</h2>
                    <p class="mb-3">
                      <strong>digitalPRA<strong class="red--text">X</strong>IS</strong><br>
                      Dipl.-Ing.(FH) Robert Karpinski<br>
                      Kissingenstra&szlig;e 13<br>
                      D-13189 Berlin
                    </p>
                    <p class="mb-3">
                      Mobil: +49 (0) 160 550 17 61<br>
                      E-Mail: <a href="mailto:karpinski@digitalpraxis.de">karpinski@digitalpraxis.de</a><br>
                      Web: <a href="http://www.digitalpraxis.de/">www.digitalpraxis.de</a>
                    </p>
                    <h2 class="mt-4 headline">AGB's der digitalPRAXIS</h2>
                    <p><a href="https://digitalpraxis.de/download/agb.pdf" target="_blank">Download: AGBs (78KB PDF)</a></p>

                    <h4>Haftung f&uuml;r Inhalte</h4>
                    <p>
                        Die Inhalte der Seiten wurden mit gr&ouml;&szlig;ter Sorgfalt erstellt. F&uuml;r die Richtigkeit, Vollst&auml;ndigkeit und Aktualit&auml;t der Inhalte k&ouml;nnen wir jedoch keine Gew&auml;hr &uuml;bernehmen. Als Dienstanbieter bin ich gem&auml;&szlig; &sect; 7 Abs.1 TMG f&uuml;r eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach &sect;&sect; 8 bis 10 TMG bin ich als Dienstanbieter jedoch nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde
                        Informationen zu &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben
                        hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&ouml;glich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
                        entfernen.
                    </p>
                    <h4>Haftung f&uuml;r Links</h4>
                    <p>
                      Meine Seite enth&auml;lt Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen. F&uuml;r die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e &uuml;berpr&uuml;ft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                    </p>
                    <h4>Urheberrecht</h4>
                    <p>
                      Die erstellten Inhalte auf dieser Seite unterliegen dem deutschen Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen der schriftlichen Zustimmung durch mich. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten oder nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom mir erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten ich um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
                    </p>
                    <h4>Datenschutz</h4>
                    <p>
                      Die Nutzung der Webseite ist ohne Angabe personenbezogener Daten m&ouml;glich. Soweit auf der Site personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit m&ouml;glich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung nicht an Dritte weitergegeben.
                    </p>
                    <p>
                      Ich weise darauf hin, dass die Daten&uuml;bertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich.
                    </p>
                    <p>
                      Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten durch Dritte zur &Uuml;bersendung von nicht ausdr&uuml;cklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdr&uuml;cklich widersprochen. Als Betreiber der Seite behalten ich mir ausdr&uuml;cklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
                    </p>
                    <h4 class="my-3">Es erfolgt KEINE Datenerheben durch Google-Analytics!</h4>
                    <h4>Es werden hier KEINE Cookies gespeichert!</h4>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </div>
    </v-slide-y-transition>
  </v-container>
</template>
<style scoped>
</style>
