<template>
  <v-slide-y-transition mode="out-in">
    <v-container fluid class="test">
      <h1 class="display-1 mt-2 mb-4 text-xs-center">
        Erfahrung als Basis für jede Aufgabe
      </h1>
      <v-flex fluid>
        <v-container fluid grid-list-xl>
          <v-layout row wrap align-end>
            <v-flex xs12 sm6 md6 lg4 offset-xl1 xl3>
              <v-card class=" elevation-0 transparent">
                <v-card-text class="text-xs-center -img">
                  <v-img
                    aspect-ratio="1"
                    height="300px"
                    min-height="240px"
                    max-height="400px"
                    src="/img/portraet-profil.jpg"
                    lazy-src="/img/profil-portraet.jpg"
                    alt="Dipl.-Ing.(FH) Robert Karpinski"
                    title="Dipl.-Ing.(FH) Robert Karpinski"
                  ></v-img>
                  <p class="my-2">Dipl.-Ing.(FH) Robert Karpinski</p>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm6 lg4 xl4>
              <v-card class=" elevation-0 transparent">
                <v-card-text>
                  <p>
                    Meine langjährige Berufserfahrung begann vor der Ausbildung
                    als Mediengestalter mit Praktika in Druckbetrieben und
                    Webagenturen. Neben der Tätigkeit in Unternehmen und als
                    Freiberufler, erweiterte ich meine Kenntnisse mit dem
                    Studium zum Dipl.-Ing(FH) für Druck- und Medientechnik.
                  </p>
                  <p>
                    Ich durfte alle Perspektien kennenlernen: von der
                    Ausbildungstheorie über die Praxis bei Dienstleistern bis
                    zum Seitenwechsel auf Kundenseite, um schließlich wieder
                    Ihnen als freier Dienstleister oder Angestellter die
                    optimale Projektumsetzung zu bieten.
                  </p>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex hidden-xs-only sm6 md6 hidden-lg-and-up></v-flex>
            <v-flex xs12 sm6 lg4 xl4 class="notopspace">
              <v-card class="lasttxt  elevation-0 transparent notopspace">
                <v-card-text class="notopspace">
                  <p>
                    Der Standort Berlin bietet mir mit vielen Meetups, Messen
                    und verschiedenen Forschungsschwerpunkten auch einen guten
                    Einblick in neue räumliche Medien, wie die webbasierte
                    Virtual und Augmented Reality. So unterstütze ich den
                    <a href="http://webxr-berlin.de">Berliner WebXR Meetup</a>.
                  </p>
                  <p>
                    Diese Erfahrungen helfen mir, Ihre Anforderungen aus allen
                    Perspektiven kreativ und zeitnah umzusetzen.
                  </p>
                  <p>
                    Technisches Verständnis bei Online- und Druckprodukten, ein
                    Auge für Gestaltung und hohe Anpassungsfähigkeit sind meine
                    wichtigsten Kernkompetenzen.
                  </p>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
      <!-- Skills -->
      <v-flex fluid xs12 class="pt-4 pb-5 px-1 skillSection">
        <h1 class="white--text display-1 mb-4 text-xs-center">
          Jede Aufgabe erfordert andere Werkzeuge
        </h1>
        <v-container fluid grid-list-xl>
          <v-layout row wrap>
            <v-flex xs12 sm6 lg3 v-for="item in skills" :key="item.logoPath">
              <v-card class="contend-card skill pb-4">
                <v-card-text>
                  <v-img
                    contain
                    :src="basePathlogo + item.logoName"
                    :lazy-src="basePathlogo + item.logoName"
                    :alt="item.logoAlt"
                    :title="item.logoAlt"
                    class="skillLogo"
                  ></v-img>
                  <span v-html="item.text"></span>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
      <!-- Desktop timeline -->
      <v-flex xs12>
        <h1 class="display-1 mt-5 mb-4 text-xs-center">
          Berufserfahrung und Ausbildung
        </h1>
        <v-flex
          sm10
          offset-sm1
          lg8
          offset-lg2
          xl6
          offset-xl3
          class="hidden-xs-only"
          style=""
        >
          <v-timeline class="largeTimeline" style="width:100% max-width:700px;">
            <v-timeline-item
              v-for="(item, i) in timeline"
              :key="i"
              :color="item.color"
              :icon="item.icon"
              large
            >
              <span slot="opposite">
                <strong class="whitecheat" v-html="item.year"></strong>
              </span>
              <v-card class="elevation-2">
                <v-card-title class="headline"> {{ item.job }}</v-card-title>
                <v-card-text class="pt-0">
                  <div v-html="item.info"></div>
                </v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
        </v-flex>
        <!-- Mobile timeline -->
        <v-flex>
          <v-card class="smallTimeline hidden-sm-and-up">
            <v-card-text class="py-0">
              <v-timeline align-top dense>
                <v-timeline-item
                  v-for="(item, i) in timeline"
                  :key="i"
                  :color="item.color"
                  :icon="item.icon"
                  class="overflow-hidden yearSpacer"
                >
                  <v-layout pt-0>
                    <v-flex>
                      {{ item.year }}<br />
                      <strong>{{ item.job }}</strong>
                      <div class="caption" v-html="item.info"></div>
                    </v-flex>
                  </v-layout>
                </v-timeline-item>
              </v-timeline>
            </v-card-text>
          </v-card>
        </v-flex>
        <hr class="hidden-xs-and-down mt-4 grey lighten-5" />
        <h1 class="display-2 mt-5 mb-4 text-xs-center">... und sonst so?</h1>
        <h3 class="mx-5 mb-5 headline text-xs-center">
          Sie finden mich auch auf:
          <a href="https://twitter.com/riskieee" target="_blank">twitter</a>,
          <a
            href="https://www.facebook.com/robert.karpinski.030"
            target="_blank"
            >facebook</a
          >,
          <a
            href="https://www.xing.com/profile/Robert_Karpinski"
            target="_blank"
            >XING</a
          >
          und
          <a href="https://linkedin.com/in/robert-karpinski-030" target="_blank"
            >LinkedIn</a
          >!
        </h3>
      </v-flex>
    </v-container>
  </v-slide-y-transition>
</template>
<script>
export default {
  name: 'App',
  data () {
    return {
      timeline: [
        {
          color: 'red lighten-2',
          icon: 'build',
          year: '2019-2020',
          job: 'Medieningenieur',
          info:
            '<a href="http://www.hdg.de/" target="_blank">Stiftung Haus der Geschichte der Bundesrepublik Deutschland</a>'
        },
        {
          color: 'red lighten-2',
          icon: 'healing',
          year: '2017-18',
          job: 'Freiberufler',
          info:
            'digitalPRA<strong class="accent--text">X</strong>IS</br> Dipl.-Ing.(FH) Robert Karpinski'
        },
        {
          color: 'red lighten-2',
          icon: 'build',
          year: '2015-17',
          job: 'CRO Web Designer',
          info:
            '<a href="http://www.digitalperformance.de/" target="_blank">Digital Performance GmbH</a>'
        },
        {
          color: 'red lighten-2',
          icon: 'build',
          year: '2013',
          job: 'Druck Produktioner',
          info:
            'ergo Unternehmenskomm. GmbH & Co. KG <a href="https://www.edelman.de/" target="_blank">(heute Edelman)</a>'
        },
        {
          color: 'red lighten-2',
          icon: 'healing',
          year: '2010-16',
          job: 'Freiberufler',
          info:
            'digitalPRA<strong class="accent--text">X</strong>IS</br> Dipl.-Ing.(FH) Robert Karpinski'
        },
        {
          color: 'red lighten-2',
          icon: 'build',
          year: '2007-10',
          job: 'Wissenschaftlicher Mitarbeiter / techn. Projektleitung',
          info:
            '<a href="https://www.zdh.de/" target="_blank">Zentralverband des Deutschen Handwerks e.V. (ZDH)</a><br> Entwicklung des Portals <a href="https://www.bistech.de/" target="_blank">BISTECH.de</a>'
        },
        {
          color: 'blue lighten-2',
          icon: 'account_balance',
          year: '2002-07',
          job: 'Studium als Dipl.-Ing. (FH) für Druck- und Medientechnik',
          info:
            '<a href="https://www.beuth-hochschule.de/" target="_blank">TFH Berlin (heute Beuth Hochschule für Technik)</a>'
        },
        {
          color: 'blue lighten-2',
          icon: 'account_balance',
          year: '2000-02',
          job: 'Ausbildung als Mediengestalter für Digital- und Printmedien',
          info:
            '(Mediendesign, nonprint)</br> <a href="https://www.ernst-litfass-schule.de/" target="_blank">Ernst-Litfaß-Schule (Oberstufenzentrum Druck- und Medientechnik)</a>'
        },
        {
          color: 'red lighten-2',
          icon: 'build',
          year: '2007-10',
          job: 'Mediengestalter',
          info: 'Weißhuhn & Weißhuhn Kommunikationsmanagement GmbH'
        },
        {
          color: 'blue lighten-2',
          icon: 'build',
          year: '2007-10',
          job: 'Screendesigner',
          info: 'Praktika in versch. Agenturen und Druckereien'
        },
        {
          color: 'blue lighten-2',
          icon: 'account_balance',
          year: '1996',
          job: 'Abitur',
          info: ''
        }
      ],
      basePathlogo: './img/logo/',
      skills: [
        {
          logoName: 'adobecc.svg',
          logoAlt: 'Adobe Creative Cloud',
          text:
            'Die <strong>Adobe Creative Cloud </strong> nutze ich bei der Konzeption, Gestaltung in der Druckvorstufe und für das Web. Je nach Anforderung nutze ich dabei Photoshop, Illustrator, InDesign, AfterEffects, Audition oder neue spannende Tools der <a href="https://www.adobe.com/creativecloud.html" target="_blank">Adobe CC</a>.'
        },
        {
          logoName: 'vscode.svg',
          logoAlt: 'Visual Studio Code',
          text:
            '<strong>Visual Studio Code</strong> ist nach Brackets, Sublime und Atom meine aktuelle IDE. Als freie Node Anwendung von Microsoft auf jedem relevanten Betriebssystem, schnell, anpassbar und mit breitem Angebot an PlugIns. Beste Voraussetzung, um für Sie allzeit bereit zu sein: <a href="https://code.visualstudio.com/" target="_blank">code.visualstudio.com</a>'
        },
        {
          logoName: 'seo.svg',
          logoAlt: 'SEO',
          text:
            'Die <strong>Suchmaschinenoptimierung</strong> habe ich immer im Blick, da das Überleben Ihres Produktes davon abhängen kann, ob die zugehörige Webseite unter den ersten Treffern ist. Da Algorithmen launisch sind, helfen harte Zahlen: <a href="https://developers.google.com/web/tools/lighthouse/" target="_blank">Google Lighthouse</a> ist die Messlatte.'
        },
        {
          logoName: 'git.svg',
          logoAlt: 'git',
          text:
            '<strong>git</strong> hat bei mir SVN für Versionierung und Archivierung von Quelltext ersetzt. Mit git eine Zeitreise in der Projektentwicklung zu machen, ist unschätzbar. Auch als Archiv und Quelltext Wolke zum Nachschlagen bei Problemen hat es auch fast immer ein Repository mit der Lösung: <a href="https://git-scm.com/" target="_blank">git-scm.com</a>'
        },
        {
          logoName: 'html5.svg',
          logoAlt: 'HTML5',
          text:
            '<strong>HTML5</strong> war, ist und bleibt bei mir das Fundament des DOM und das Grundgerüst für Inhalte. Die Implementierung der HTML5 Tags und ihrer Eigenschaften durch die Browsern ist inzwischen stabil. Trotzdem behalte ich mit <a href="https://html5test.com/" target="_blank">html5test.com</a> die Browser lieber im Auge.'
        },
        {
          logoName: 'css3.svg',
          logoAlt: 'CSS3',
          text:
            'Die Inhalte des Web bekommen mit <strong>CSS</strong> erst ihre Form. Leider ist die Unterstützung der Browser immer durchwachsener als beim HTML. Dabei den Überblick zu behalten ist fast unmöglich. Zum Glück gibt es Autoprefixer und das Portal <a href="https://caniuse.com/" target="_blank">caniuse.com</a>, um zu fragen, welcher Browser was kann.'
        },
        {
          logoName: 'sass.svg',
          logoAlt: 'SASS',
          text:
            '<strong>Sass</strong> bringt im Frontend CSS die fehlenden kleinen Helfer wie Nesting, Mixins und Variablen zur Strukturierung, Imports von Partials und Operatoren sowie dynamische Autoprefixer und und und... Mit allerlei Präprozessoren macht responsives CSS erst richtig Spaß: <a href="http://sass-lang.com/guide" target="_blank">sass-lang.com/guide</a>'
        },
        {
          logoName: 'svg.svg',
          logoAlt: 'SVG',
          text:
            '<strong>SVG</strong> brauchte lange, ist aber inzwischen in den Browsern angekommen. Es müssen nicht immer Pixel sein! Auflösungsunabhängig zu arbeiten, ist eine große Bereicherung und <a href="https://jakearchibald.github.io/svgomg/" target="_blank">SVGOMG!</a> ist aktuell das beste Werkzeug, um die Dateien aus Illustrator schnell für das Web zu säubern.'
        },
        {
          logoName: 'pixel.svg',
          logoAlt: 'Pixelbilder',
          text:
            '<strong>Pixelbilder</strong> sind oft ein großer Teil des Datenvolumens der Website aber auch wichtiges Marketinginstrument. Um beides als guten Kompromiss unter einen Hut zu bekommen, hilft mir viel Erfahrung und <a href="https://imageoptim.com/api" target="_blank">ImageOptim</a> als lokales Werkzeug oder besser noch direkt als Web API, wenn möglich.'
        },
        {
          logoName: 'js.svg',
          logoAlt: 'JavaScript',
          text:
            '<strong>JavaScript</strong> weckt Emotionen. Ich nutzte JS lange eher oberflächlich aber inzwischen ist es DIE Frontend Sprache für Interaktivität, DevFrameworks und Server. JS wird meist unterschätzt: es wird von jedem Browser nativ Unterstützung und hat so weltweit die größte aktive und passive Nutzerbasis: <a href="https://whatwebcando.today/" target="_blank">whatwebcando.today</a>'
        },
        {
          logoName: 'nodejs.svg',
          logoAlt: 'Node.js',
          text:
            '<strong>Node.js</strong> ist inzwischen für mich das Herz für fast jeden Web Frontend Workflows. Als lokaler Dev Server und Grundlage einer flexibler Toolchain hilft es mir die Komplexen Abhängigkeiten verschiedener Frameworks im Zaum zu halten. Es ist die eierlegende Wollmilchsau wie der Browser selbst: <a href="https://nodejs.org/" target="_blank">nodejs.org</a>'
        },
        {
          logoName: 'webpack.svg',
          logoAlt: 'Webpack',
          text:
            '<strong>Webpack</strong> ist das Schweizer Taschenmesser der JS Frameworks. Ich nutze in Node als Basis der Toolchain, um die Versionsverwaltung der Module im Blick zu behalten, ein Projekt als schlankes Package.json zu archivieren / weiterzugeben und generieren den Production Build: <a href="https://webpack.js.org/" target="_blank">webpack.js.org</a>'
        },
        {
          logoName: 'babel.svg',
          logoAlt: 'Babel',
          text:
            '<strong>BABEL.js</strong> ist das Transpiler Werkzeug der Wahl, um modernes JavaScript im ES6+ Stil produktiv nutzen zu können. Es übersetzt automatisiert Modernes JavaScript für mich in die Minimalbasis ES5 und macht es dem Babylon der 1000 Browser verständlich. Großes Dankeschön für dieses Tool an das <a href="https://babeljs.io/" target="_blank">babeljs.io</a> Team!'
        },
        {
          logoName: 'vuejs.svg',
          logoAlt: 'Vue.js',
          text:
            'Mit dem Einstieg in <strong>Vue.js</strong> übersprang ich die Frameworks React und Angular. So nutze ich in der Verschmelzung Vue ihre besten Konzepte. Vue ist in modernen JS neu gedacht und bietet einen guten Einstieg, ist ausgereift, skalierbar und performant einsetzbar: <a href="https://madewithvuejs.com/" target="_blank">madewithvuejs.com</a>'
        },
        {
          logoName: 'aframe.svg',
          logoAlt: 'A-Frame',
          text:
            'Das von Mozilla unterstützte JS Framework A-Frame basiert auf Three.JS und erlaubt weitestgehend im Browser DOM räumliche 3D Inhalte als Extended bzw. Cross Reality (XR) für alle HMDs. Als native Browsertechnologie hat WebXR für mich bereits jetzt Potenzial ein neues Medium zu sein: <a href="https://aframe.io/" target="_blank">aframe.io</a>'
        }
      ],
      tools: [
        { src: 'img/logo/html5.svg', name: 'HTML5' },
        { src: 'img/logo/css3.svg', name: 'CSS3' },
        { src: 'img/logo/js.svg', name: 'JavaScript' },
        { src: 'img/logo/sass.svg', name: 'SASS' },
        { src: 'img/logo/vuejs.svg', name: 'Vue.JS' },
        { src: 'img/logo/webpack.svg', name: 'WEBPACK' },
        { src: 'img/logo/babel.svg', name: 'BABEL' },
        { src: 'img/logo/git.svg', name: 'git' },
        { src: 'img/logo/aframe.svg', name: 'A-Frame' },
        { src: 'img/logo/vscode.svg', name: 'Microsoft Visual Studio Code' },
        { src: 'img/logo/adobecc.svg', name: 'Adobe Creative Cloud' }
      ]
    }
  }
}
</script>
<style scoped>
.skillSection {
  background: linear-gradient(
      60deg,
      rgba(10, 210, 200, 0.5),
      rgba(40, 120, 110, 0.5) 60%,
      rgba(10, 115, 185, 0.5)
    )
    no-repeat 50%;
}
.largeTimeline .v-card {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.6),
      rgba(200, 200, 200, 0.1) 80%,
      rgba(200, 200, 200, 0.5)
    )
    no-repeat 50%;
}
.skillLogo {
  display: inline-block;
  float: left;
  width: 50px;
  margin: 0 10px 10px 0;
  height: 50px;
}
.largeTimeline.headline:nth-child(odd) .headline {
  background: red;
}
.notopspace {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.noleftspace {
  flex-basis: 80px;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
</style>
