<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <div>
        <h1 class="display-1 mt-2 text-xs-center">Referenzen</h1>
        <h3 class="headline text-xs-center">Eine Auswahl realisierter Projekte</h3>
        <br />

        <v-flex fluid xs12>
          <v-container fluid grid-list-xl>
            <v-layout row wrap>
              <v-flex
                xs12
                sm6
                lg3
                class="projectcontainer"
                v-for="item in referenzen"
                :key="item.title"
              >
                <v-hover>
                  <v-card
                    slot-scope="{ hover }"
                    :class="`elevation-${hover ? 12 : 1}`"
                    class="contend-card project pb-4"
                  >
                    <div class="year">{{ item.year }}</div>
                    <v-img
                      :src="pathThumbs + item.imgThumb"
                      :lazy-src="pathThumbs + item.imgThumb"
                      aspect-ratio="4/3"
                      height="310px"
                      min-height="240px"
                      max-height="480px"
                      class
                    ></v-img>
                    <v-card-title primary-title>
                      <div>
                        <div class="headline" v-html="item.title"></div>
                        <span class="grey--text" v-html="item.textShort"></span>
                      </div>
                    </v-card-title>
                    <v-card-actions>
                      <v-btn
                        class="schalter"
                        v-if="item.textLong !== ''"
                        icon
                        @click="item.textLongSchalter = !item.textLongSchalter"
                      >
                        <v-icon class="ml-0">
                          {{
                          item.textLongSchalter
                          ? 'keyboard_arrow_up'
                          : 'keyboard_arrow_down'
                          }}
                        </v-icon>
                      </v-btn>
                      <v-spacer></v-spacer>
                      <v-btn
                        v-if="item.linkUrl !== ''"
                        :href="item.linkUrl"
                        target="_blank"
                        color="primary"
                      >
                        {{ item.linkName }}
                        <v-icon>label_important</v-icon>
                      </v-btn>
                    </v-card-actions>
                    <v-slide-y-transition>
                      <v-card-text
                        class="flipcard"
                        v-show="item.textLongSchalter"
                        v-html="item.textLong"
                      ></v-card-text>
                    </v-slide-y-transition>
                  </v-card>
                </v-hover>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </div>
    </v-slide-y-transition>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    pathThumbs: './img/projects/thumbs/',
    pathFull: './img/projects/full/',
    referenzen: [
      {
        title: 'WebXR Experimente',
        year: 2020,
        imgThumb: 'metavrse.jpg',
        imgTfull: 'metavrse.jpg',
        tags: ['webxr', 'web', 'adobecc', 'javascript', 'design', '3d'],
        textShort:
          '<strong>Eigenprojekt:</strong> Website: WebXR Experimente mit Schwerpunkt virtuelle Touren mit Mozilla AFrame.io</br> <strong>Leistung:</strong> Website, Design, Umsetzung</br> <strong>Technologie:</strong> AdobeCC, ES6, Mozillas A-Frame.io, Blender, 3DS max, versch. VR HMD',
        textLongSchalter: false,
        textLong:
          'Die Möglichkeiten von immersiven Medien fasziniert mich und sie auszuprobieren ist mit Mobilgeräten so einfach wie noch nie. So experimentiere ich mit verschiedenen Hard- und Softwarelösungen aber besonders gern im Web mit <a href="https://aframe.io/" target="_blank">Mozillas AFrame.io</a>. So wächst meine Sammlung an erfolgreichen Ergebnisse von Hackathonteilnahmen, versuchen mit Portalen und Eigenkreationen. Über die Jahre sind als Ergänzung auf der Plattform die zusätzlichen Projekte <a href="https://blog.metaVrse.de/" target="_blank">Blog.metaVrse.de</a> als News-Sammlung und die Datenbank mit VR Werkzeugen <a href="https://imbb.metaVrse.de/" target="_blank">IMBB</a> entstanden.',
        linkName: 'Website',
        linkUrl: 'https://metavrse.de/'
      },
      {
        title: 'HdG Bundeskanzleramt',
        year: 2019,
        imgThumb: 'hdg_stge.jpg',
        imgFull: 'hdg_stge.jpg',
        tags: ['museum', 'medien', 'ausstellung, kanzleramt'],
        textShort:
          '<strong>Anstellung:</strong> Stiftung Haus der Geschichte der Bundesrepublik Deutschland</br><strong>Dienstleistung: </strong> Medientechnik </br><strong>Dienstort:</strong> Daueraustellung Staatsgeschenke im Bundeskanzleramt',
        textLongSchalter: false,
        textLong:
          '<p>Als Medieningeneur betreute ich den technischen Umbau und aktualisieruing der Medienstationen des HdG in der Daueraustellung Staatsgeschenke im Bundeskanzleramt. Dabei wurde sowohl der Corpus der Medeinstation als auch die genutzte Technik aktualiert. Inhaltlich konnte ich eine moderne Oberfläche umsetzen und den Schnitt des Videomaterials für Bundeskanzlerin Angela Merkel aktualisieren.</p>',
        linkName: 'Medientechnik',
        linkUrl: ''
      },
      {
        title: 'HdG Kulturbrauerei & Tränenpalast',
        year: 2019,
        imgThumb: 'hdg_museum.jpg',
        imgFull: 'hdg_museum.jpg',
        tags: ['museum', 'medien', 'ausstellung, tränenpalast, kulturbrauerei'],
        textShort:
          '<strong>Anstellung:</strong> Stiftung Haus der Geschichte der Bundesrepublik Deutschland</br><strong>Dienstleistung: </strong> Medientechnik, IT-Support, Veranstaltungstechnik, Licht- wie Haustechnik</br><strong>Dienstort:</strong> Daueraustellung im Museum in der Kulturbrauerei und Tränenpalast',
        textLongSchalter: false,
        textLong:
          '<p>Hauptsächlich bin ich für den technischen Umbau aktualisierter Medienstationen sowie die Pflege der Medien in den Ausstellungen der Kulturbrauerei und im Tränenpalast zuständig. Zusätzlich gehört auch Planung, Administration und Support in Windows, MS-Office sowie wie lokaler Netzwerktechnik. In der Licht- wie Haustechnik unterstützt ich den leitenden Betriebsingenieur in Bonn und reagiere in Berlin kurzfristig auf Störungen. Darüber hinaus bin ich für die technische Planung und Durchführung von Veranstaltungen sowie allgemeine technische Wartungs-, Pflege- und Reparaturarbeiten einschließlich der Einweisung und Betreuung von Fremdfirmen wie dem Festival-of-Lights zuständig. Fachlich ergänze und betreue ich zudem interne wie externe grafische Druckaufträge sowie geplante webbasierte Angebote am Standort Berlin.</p>',
        linkName: 'Medientechnik',
        linkUrl: 'https://www.hdg.de/museum-in-der-kulturbrauerei'
      },
      {
        title: 'WebApp IMBB',
        year: 2018,
        imgThumb: 'imbb.jpg',
        imgFull: 'imbb.jpg',
        tags: ['web', 'javascript', 'vue.js', 'json'],
        textShort:
          '<strong>Eigenprojekt:</strong> Immersive Media Bullshit Bingo (IMBB)</br><strong>Produkt: </strong> schnelles Nachschlagewerk zu Immersiven Technologien als WebApp</br> <strong>Technologie:</strong> Node.js, Webpack, Vue.js, Vue-CLI3, ES6, Babel, ESLint, JSON, HTML5, CSS3',
        textLongSchalter: false,
        textLong:
          '<p>Nach längerer und unbefriedigender Suche eines schnellen, übersichtlichen und umfangreichen Nachschlagewerkes zu Immersiven Medien wie Virtual Reality (VR), Augmented Reality(AR) Merged/Mixed Reality(MR) oder Extended/Cross Realiy(XR) entstand in Eigenregie die Immersive Media Bullshit Bingo (IMBB). Hier sammle ich relevante Portale, Tutorials, Hardware, Software Tipps und Erklärungen zu Branchenbegriffen.</p><p>Dafür - aber auch für die <a href=https://medien.karpinski.berlin/ target="_blank">MEDINkompetenz</a> - nutze ich browserbasierte Frontend Techniken wie eine JSON Flat-File Datenbank und Vue.js als JavaScript Framework, um Filterfunktion wie Darstellung severless zu beschleunigen. Zur Entwicklung werden in der DevToolchain Node.js mit NPM und den JS Frameworks Webpack, Vue.js (inkl. Vue-CLI3), Babel, ESLint sowie ES6, JSON, HTML und CSS3 genutzt. Den kompletten Quelltext finden Sie unter <a href="https://gitlab.com/riskieee/vue-imbb" target="_blank">gitlab.com</a>.</p>',
        linkName: 'Website',
        linkUrl: 'https://imbb.metavrse.de/'
      },
      {
        title: 'Website Eltern AG',
        year: 2018,
        imgThumb: 'mgbb-elternag.jpg',
        imgFull: 'mgbb-elternag.jpg',
        tags: ['web', 'schule', 'beratung', 'inhalte'],
        textShort:
          '<strong>Ehrenamtliches Projekt:</strong> Elternportal </br><strong>Ergebnis: </strong> WordPress Portal und Wiki für Eltern der Montessori-Gemeinschaftsschule Berlin-Buch zur Koordination der Elternmithilfe für Angehörigen der MGBB. Unterstützt bei technischem Aufbau und u. a. Inhalte zur Medienkompetenz</br> <strong>Technologie:</strong> WordPress, HTML5, CSS3',
        textLongSchalter: false,
        textLong:
          '<p>In der turbulenten (Schul-)Welt bin ich dankbar, dass meine Kinder die <a href="https://mgbb-eltern-ag.de/infos/medienkompetenz/" target="_blank">Montessori-Gemeinschaftsschule Berlin-Buch</a> besuchen können und unterstütze diese ehrenamtlich als Teil der Kommunikations-AG. Dank eines frühen Einstiegs der Schule in digitale Lernmethoden und engagierten LernbeleiterInnen, freut es mich wie Medienkompetenz vermittelt wird. So bilden wir als Eltern-AG eine Schnittstelle für alle weiteren Eltern, Eltern-AGs, LehrerInnen und SchülerInnen. Ich betreue im Team technisch die Website <a href="https://mgbb-eltern-ag.de/" target="_blank">Eltern AGs MGBB</a> und engagiere mich mit Beiträgen wie Info-Sammlungen.</p>',
        linkName: 'Website',
        linkUrl: 'https://mgbb-eltern-ag.de/'
      },
      {
        title: 'WebApp MEDIENkompetenz',
        year: 2018,
        imgThumb: 'medienkompetenz.jpg',
        imgFull: 'medienkompetenz.jpg',
        tags: ['web', 'javascript', 'vue.js', 'json'],
        textShort:
          '<strong>Ehrenamtliches Projekt:</strong> MEDIENkompetenz </br><strong>Ergebnis: </strong> schnelles Nachschlagewerk zu Medienkompetenz für Kinder und Erwachsene als WebApp</br> <strong>Technologie:</strong> Node.js, Webpack, Vue.js, Vue-CLI3, ES6, Babel, ESLint, JSON, HTML5, CSS3',
        textLongSchalter: false,
        textLong:
          '<p>Als in IT und mit Medien arbeitender Vater betreue ich meine Kinder Medienkompetent: vom Erstkontakt mit Mobilgeräten über erste Schritte im Internet bis hin zur Erstellung eigener digitaler Inhalte.</p><p>Es existieren inzwischen allerlei Portale und Quellen, die wir als Angebot für den <a href="https://mgbb-eltern-ag.de/infos/medienkompetenz/" target="_blank">Eltern-Verein der Montessori Schule Berlin-Buch</a> sammeln. Als erste Anlaufstelle entsteht ein Überblick bewährte Portale, Inhalte, Hardware und Software Tipps.</p><p>Für MEDIENkompetenz wird die schon für <a href="https://imbb.metavrse.de/"  target="_blank">IMBB</a> entwickelte WebApp genutzt. Es kommen browserbasierte Frontend Techniken wie eine JSON Flat-File Datenbank und Vue.js als JavaScript Framework, um Filterfunktion wie Darstellung severless zu beschleunigen. Zur Entwicklung werden in Node.js mit NPM und den JS Frameworks Webpack, Vue.js (inkl. Vue-CLI3), Babel, ESLint sowie ES6, JSON, HTML und CSS3 genutzt. Den kompletten Quelltext finden Sie unter <a href="https://gitlab.com/riskieee/vue-medien" target="_blank">gitlab.com</a>.</p>',
        linkName: 'Website',
        linkUrl: 'https://medien.karpinski.berlin/'
      },
      {
        title: 'Formatvorlagen Uni Trier',
        year: 2018,
        imgThumb: 'trierwordformat.jpg',
        imgFull: 'trierwordformat.jpg',
        tags: ['web', 'adobecc', 'office', 'design'],
        textShort:
          '<strong>Kunde:</strong> Fachbereich Fachdidaktik Geschichte der Uni Trier<strong></br> Produkt: </strong> Formatvorlagen für Fachpublikationen</br> <strong>Leistungen:</strong> Beratung, Gestaltung, Umsetzung <strong>Technologie:</strong> AdobeCC, MS Word',
        textLongSchalter: false,
        textLong:
          '<p>Der Fachbereich Fachdidaktik Geschichte der Uni Trier erstellt für eine steigende Anzahl von Projekten online Publikationen in Eigenregie. Um die hohe Qualität trotz fixem Budget halten zu können, konnte ich den Fachbereich mit anpassbare Formatvorlagen unterstützen.</p><p>Nach einer Beratung wurden ein flexibles Grundkonzept in Adobe Illustrator gestaltet und in mehreren Versionen von Microsoft Word Formatvorlagen umsetzt.</p>',
        linkName: 'PDF',
        linkUrl:
          'https://digitalpraxis.de/download/projects/2018-trierwordformat.pdf'
      },
      {
        title: 'Projektlogos Uni Trier',
        year: 2018,
        imgThumb: 'trierlogos.jpg',
        imgTfull: 'trierlogos.jpg',
        tags: ['print', 'web', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> Fachbereich Fachdidaktik Geschichte der Uni Trier</br> <strong>Produkt:</strong> Projektlogos für Projekte des Fachbereichs</br> <strong>Leistungen:</strong> Beratung, Gestaltung <strong>Technologie:</strong> AdobeCC',
        textLongSchalter: false,
        textLong:
          'Der Fachbereich Fachdidaktik Geschichte gibt ausgewählten Projekten ein visuelles Profil, um die Erkennbarkeit für Studierende zu verbessern. Nach der Beratung wurden mehrere Gestaltungsideen durchgespielt und gemeinsam das endgültige Designs gefunden. Die Logos wurden anschließend in verschiedenen Vektorformaten sowie sofort einsetzbare Bildformate in mehreren Auflösungen geliefert.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'WebApps 4Kids',
        year: 2018,
        imgThumb: 'tools4kids.jpg',
        imgTfull: 'tools4kids.jpg',
        tags: ['web', 'javascript'],
        textShort:
          '<strong>Eigenprojekt:</strong> WebApps 4 Kids</br><strong>Produkt: </strong> mehrere kleine JavaScript mobile WebApps</br> <strong>Technologie:</strong> ES6, ESLint, HTML5, CSS3',
        textLongSchalter: false,
        textLong:
          '<p>Die kleinen Micro-Site Experimente entstanden als Fingerübungen zur Vertiefung meiner JavaScript Kenntnisse. Um etwas sinnvolles dabei entstehen zu lassen, war es als Vater für mich naheliegend etwas zum Spielen für meine Kinder zu machen:</p><ul><li>BlitzBlick ist als Übung und Test auf Dyskalkulie nach Harald Schmidt.</li><li>graviTRON ist ein Übungspiel für Timing und Konzentration.</li><li>Der Farbmixer ist eine webbasierte MobileApp für das Farbmischverständnis.</li></ul></p><p>Den kompletten Quelltext finden Sie unter: <a href="https://gitlab.com/riskieee/vue-medien" target="_blank">gitlab.com</a>.</p>',
        linkName: 'Website',
        linkUrl: 'http://medien.karpinski.berlin/tools4kids/'
      },
      {
        title: 'blog.metaVRse.de',
        year: 2017,
        imgThumb: 'metavrse-blog.jpg',
        imgTfull: 'metavrse-blog.jpg',
        tags: ['web', 'wordpress', 'adobecc', 'design'],
        textShort:
          '<strong>Eigenprojekt:</strong> WordPress News Blog zu Immersiven Medien</br> <strong>Leistung:</strong> AdobeCC, Social Media',
        textLongSchalter: false,
        textLong:
          'Als Ergänzung zu meinen <a href="https://metaVrse.de/" target="_blank">WebXR Experimenten</a> folge ich aktiv der globalen Entwicklung der Immersiven Medien und sammle in einem Blog für mich besonders relevante Inhalte. Parallel werden Inhalte des selbst gehosteten und aufgebauten WordPress Blogs per Crossposting auf meinen Social Media Kanälen auf <a href="https://twitter.com/riskieee" target="_blank">twitter</a> und <a href="https://imbb.metaVrse.de/" target="_blank">Facebook</a> automatisch geteilt.',
        linkName: 'Website',
        linkUrl: 'https://blog.metavrse.de/'
      },
      {
        title: 'Website Logopädie Praxis',
        year: 2016,
        imgThumb: 'logoprax.jpg',
        imgTfull: 'logoprax.jpg',
        tags: ['web', 'wordpress', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> Logopädie Praxis Anja Dethmann</br> <strong>Leistung:</strong> Beratung, Gestaltung, Website</br> <strong>Technologie:</strong> WordPress, Adobe CC',
        textLongSchalter: false,
        textLong:
          'Für die Logopädie Praxis von Anja Dethmann habe ich  nach intensiver Beratung und Hostingeinrichtung ein WordPress installiert. Nach der Wahl eines Basisthemes wurde das Design angepasst und der Inhalt mit dem Kunden gemeinsam Aufbaut.',
        linkName: 'Website',
        linkUrl: 'http://www.logopaedie-schoeneiche.de/'
      },
      {
        title: 'Website BOX66',
        year: 2015,
        imgThumb: 'box66.jpg',
        imgTfull: 'box66.jpg',
        tags: ['web', 'wordpress', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> Interkulturelles Beratungs- und Begegnungszentrum für Frauen und Familien am Ostkreuz</br> <strong>Leistung:</strong> Beratung, Gestaltung, Website</br> <strong>Technologie:</strong> WordPress, Adobe CC',
        textLongSchalter: false,
        textLong:
          'Für das Interkulturelle Beratungs- und Begegnungszentrum für Frauen und Familien am Ostkreuz habe ich  nach intensiver Beratung und Hostingeinrichtung ein WordPress installiert. Nach der Wahl eines Basisthemes wurde das Design angepasst und der Inhalt mit dem Kunden gemeinsam Aufbaut.',
        linkName: 'Website',
        linkUrl: 'https://www.box66berlin.com/'
      },
      {
        title: 'Buchsatz EU Zentrum',
        year: 2015,
        imgThumb: 'parti-trans2015.jpg',
        imgTfull: 'parti-trans2015.jpg',
        tags: ['print', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> Europäisches Zentrum für transnationale Partizipation</br> <strong>Leistung:</strong> Beratung, Gestaltung, Buchsatz, Druckmanagement</br> strong>Technologie:</strong> Adobe CC, InDesign, Acrobat, Photoshop',
        textLongSchalter: false,
        textLong:
          'Für das Europäisches Zentrum für transnationale Partizipation Entstand nach Beratung und umfassenden Druckmanagement das Layout und der zweisprachige Buchsatz in Deutsch und Polnisch für die 2015 Jahresausgabe der Publikation: Lebendige Nachbarschaft.',
        linkName: 'Download Website',
        linkUrl: 'http://www.participation-transnational.eu/publikationen'
      },
      {
        title: 'Web + Social Stadtfarben',
        year: 2014,
        imgThumb: 'stadtfarben.jpg',
        imgTfull: 'stadtfarben.jpg',
        tags: ['web', 'wordpress', 'social', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> Malerbetrieb Stadtfarben</br> <strong>Leistung:</strong> Beratung, Gestaltung, Website, Social Media</br> <strong>Technologie:</strong> WordPress, Adobe CC',
        textLongSchalter: false,
        textLong:
          'Für den Malerbetrieb Stadtfarben habe ich nach umfangreicher Beratung und Hostingeinrichtung ein WordPress installiert sowie ein gewähltes Basisdesign angepasst. Alle  Inhalte wurden für den Kunden vorbereitet wie eingepflegt. Zusätzlich haben wir gemeinsam den Auftritt als Facebook Gruppe aufgebaut.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'Buchsatz und Website EU Zentrum',
        year: 2014,
        imgThumb: 'parti-trans2014.jpg',
        imgTfull: 'parti-trans2014.jpg',
        tags: ['web', 'print', 'drupal', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> Interkulturelles Beratungs- und Begegnungszentrum für Frauen und Familien am Ostkreuz</br> <strong>Leistung:</strong> Beratung, Gestaltung, Druckmanagement, Buchsatz, Reinzeichnung, Website</br> <strong>Technologie:</strong> Drupal, Adobe CC, InDesign, Photoshop',
        textLongSchalter: false,
        textLong:
          '<p>Für das Europäisches Zentrum für transnationale Partizipation habe ich nach intensiver Beratung und Hostingeinrichtung ein Drupal installiert. Nach der Wahl eines Basisthemes wurde das Design angepasst und nötige Erweiterungen eingerichtet. Der Inhalt wurde mit dem Kunden initial erstellt und wird nach einer Schulung selbständig  weitergeführt.</p>Zusätzlich entstand nach Beratung mit umfassenden Druckmanagement das Layout und der zweisprachige Buchsatz in Deutsch und Polnisch für die 2014 Jahresausgabe der Publikation: <a href="http://www.participation-transnational.eu/publikationen">Lebendige Nachbarschaft (Download Website)</a></p>',
        linkName: 'Website',
        linkUrl: 'http://www.participation-transnational.eu/'
      },
      {
        title: 'Website Hodix',
        year: 2013,
        imgThumb: 'hodix.jpg',
        imgTfull: 'hodix.jpg',
        tags: ['web', 'wordpress', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> LOGOPÄDIE Anja Dethmann</br> <strong>Leistung:</strong> Beratung, Gestaltung, Website</br> <strong>Technologie:</strong>Adobe CC, Photoshop',
        textLongSchalter: false,
        textLong:
          'Für den Werbetechniker Martin Hodik habe ich nach Beratung und Hostingeinrichtung ein WordPress installiert. Nach der Wahl eines Basisthemes wurde das Design angepasst und die Inhalte nach Vorgaben des Kunden erstellt und eingefügt.',
        linkName: 'Website',
        linkUrl: 'http://www.hodix.de/'
      },
      {
        title: 'Druckmanagement Ergo - BNetzA',
        year: 2013,
        imgThumb: 'ergo-bnetza.jpg',
        imgTfull: 'ergo-bnetza.jpg',
        tags: ['print', 'adobecc'],
        textShort:
          '<strong>Kunde:</strong> ergo Unternehmenskommunikation GmbH &amp; Co. KG (heute Edelman) für BNetzA</br> <strong>Leistung:</strong> Beratung, Druckmanagement, Reinzeichnung</br> <strong>Technologie:</strong> Adobe CC, InDesign, Acrobat',
        textLongSchalter: false,
        textLong:
          'Für ergo Unternehmenskommunikation GmbH &amp; Co. KG (heute Edelman) habe ich als Produktioner die interne Beratung und das Druckmanagement des Jahresberichts 2012 der Bundesnetzagentur durchgeführt.',
        linkName: 'PDF',
        linkUrl:
          'https://www.bundesnetzagentur.de/SharedDocs/Downloads/DE/Allgemeines/Bundesnetzagentur/Publikationen/Berichte/2013/130506_Jahresbericht2012.pdf;jsessionid=C9561126AA1D711E5DF47C7B15FB2144?__blob=publicationFile&v=5'
      },
      {
        title: 'Druckmanagement Ergo - BMAS',
        year: 2013,
        imgThumb: 'ergo-gleichstellen.jpg',
        imgTfull: 'ergo-gleichstellen.jpg',
        tags: ['print', 'adobecc'],
        textShort:
          '<strong>Kunde:</strong> ergo Unternehmenskommunikation GmbH &amp; Co. KG (heute Edelman) für BMAS</br> <strong>Leistung:</strong> Beratung, Druckmanagement, Reinzeichnung</br> <strong>Technologie:</strong>Adobe CC, InDesign, Acrobat',
        textLongSchalter: false,
        textLong:
          'Für ergo Unternehmenskommunikation GmbH &amp; Co. KG (heute Edelman) habe ich als Produktioner die interne Beratung und das Druckmanagement sowie die Reinzeichnung des 2013 Berichts zur Bundesinitiative Gleichste!!en des Bundesministeriums für Arbeit und Soziales.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'Stockfotos',
        year: 2013,
        imgThumb: 'stockfoto.jpg',
        imgTfull: 'stockfoto.jpg',
        tags: ['foto', 'adobecc', 'lizenz'],
        textShort:
          '<strong>Eigenprojekt:</strong> lizenzfreie Stockfotos</br> <strong>Leistung:</strong> Fotografie, Bildbearbeitung, Lizenzmanagement</br> <strong>Technologie:</strong>Adobe CC, Photoshop, Lightroom',
        textLongSchalter: false,
        textLong:
          'Als Teilnehmer eines Workshops zu Fotografie entstanden lizenzfreie Stockfotos zur Makrofotografie auf dem Stockportal Coverpicture. Der Workshop diente mir der Weiterbildung zu Fotografie und Lizenzmanagement bei Bildrechten.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'Werbeflyer Ideenwerk',
        year: 2013,
        imgThumb: 'ideenwerk-flyer.jpg',
        imgTfull: 'ideenwerk-flyer.jpg',
        tags: ['print', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> Maler und Ideenwerk</br> <strong>Leistung:</strong> Beratung, Gestaltung, Druckmanagement<br> <strong>Technologie:</strong>Adobe CC, InDesign, Illustrator, Photoshop',
        textLongSchalter: false,
        textLong:
          'Zu Werbezwecken wurde gemeinsam mit dem Kunden Maler und Ideenwerk ein nützlicher Werbeflyer gestaltet. Um ein nachhaltiges Werbe-Giveaway zu erstellen, ist ein verbindlicher - da farbechter - Farbfächer mit Branding des Kunden entstanden. Ich habe den Kunden von der Erstberatung über Gestaltung mit  Druckmanagement bis zur Auslieferung und werbewirksame Platzierung begleitet.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'techn. Projektleitung BISTECH',
        year: '2007-2012',
        imgThumb: 'bistech.jpg',
        imgTfull: 'bistech.jpg',
        tags: ['print', 'web', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> ZDH</br> <strong>Leistung:</strong> Beratung, techn. Projektsteuerung, Gestaltung, Druckmanagement, Website<br> <strong>Technologie:</strong> Adobe CC',
        textLongSchalter: false,
        textLong:
          'In Festanstellung habe ich das interne Netzwerkportal des Handwerks BISTECH.de für den Zentralverband des Deutschen Handwerks e.V. (ZDH) als Wissenschaftlicher Mitarbeiter in der technischen Projektleitung begleitet. Ich war maßgeblich an der Konzeption und als Schnittstelle zum Dienstleister bei der Umsetzung tätig. Zusätzlich habe in eigener Verantwortung alle Marketingprodukte wie Web-Banner, Social Media, Visitenkarten, Giveaways, Flyer, Poster, Messebanner umgesetzt und die Produktion betreut.',
        linkName: 'Website',
        linkUrl: 'https://www.bistech.de/'
      },
      {
        title: 'Corporate Design Stuhlträger',
        year: 2012,
        imgThumb: 'stuhltraeger.jpg',
        imgTfull: 'stuhltraeger.jpg',
        tags: ['print', 'adobecc', 'design', 'web'],
        textShort:
          '<strong>Kunde:</strong> STUHLTR&Auml;GER GmbH</br> <strong>Leistung:</strong> Beratung, Gestaltung, Geschäftsausstattung, Druckmanagement, Website<br> <strong>Technologie:</strong> WordPress, Adobe CC, InDesign, Illustrator, Photoshop',
        textLongSchalter: false,
        textLong:
          'Der Kunde STUHLTR&Auml;GER GmbH wurde umfassend bei der Erstellung eines professionellen  Auftritts in Web und Print begleitet. Ich habe den Kunden von der ersten Beratung bei dem Design der gesamte CI mit Logo, Visitenkarte, Briefpapier und Website begleitet.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'UX Sportverband für Weißhuhn',
        year: 2012,
        imgThumb: 'blsv.jpg',
        imgTfull: 'blsv.jpg',
        tags: ['web', 'ux', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> Bayerischen Landes-Sportverband e.V.<br> <strong>Leistung:</strong> Beratung, UX Konzept, Gestaltung<br> <strong>Technologie:</strong> Adobe CC',
        textLongSchalter: false,
        textLong:
          'In Festanstellung habe ich 2012 mehrerer UX Konzeptstudien für die interne Seminarbuchung des Bayerischen Landes-Sportverband e.V. Website für Weißhuhn & Weißhuhn Kommunikationsmanagement GmbH umgesetzt.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'Website GEMA für Weißhuhn',
        year: '2004-2007',
        imgThumb: 'gema.jpg',
        imgTfull: 'gema.jpg',
        tags: ['web', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> GEMA für Weißhuhn & Weißhuhn Kommunikationsmanagement GmbH</br> <strong>Leistung:</strong> Beratung, Gestaltung, Website, PDF<br> <strong>Technologie:</strong>HTML, PDF, Adobe Photoshop',
        textLongSchalter: false,
        textLong:
          'In Festanstellung habe ich von 2004 bis 2007 bei der Gestaltung und Umsetzung der GEMA Website für Weißhuhn & Weißhuhn Kommunikationsmanagement GmbH sowie interaktiven PDF Formularen bei Weißhuhn & Weißhuhn Kommunikationsmanagement GmbH mitgewirkt.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'FLASH Weißhuhn',
        year: '2004-2005',
        imgThumb: 'wwwkxmas.jpg',
        imgTfull: 'wwwkxmas.jpg',
        tags: ['web', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> Weißhuhn & Weißhuhn Kommunikationsmanagement GmbH</br> <strong>Leistung:</strong> Beratung, Gestaltung, FLASH, Website<br> <strong>Technologie:</strong>FLASH, Adobe Photoshop',
        textLongSchalter: false,
        textLong:
          'In Festanstellung habe ich 2004 und 2005 jeweils interaktive FLASH-Weihnachtskarten als Agenturpräsentation umgesetzt. Dabei habe ich habe Konzeption, Fotos sowie Design und Umsetzung durchgeführt.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'Print Verdi Jugend',
        year: '2003-2007',
        imgThumb: 'verdiprint.jpg',
        imgTfull: 'verdiprint.jpg',
        tags: ['print', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> ver.di Jugendbildungsstätte Berlin-Konradshöhe e.V. </br> <strong>Leistung:</strong> Beratung, Gestaltung, Fotos, <br> <strong>Technologie:</strong> ver.di CMS, Microsite, Adobe Photoshop',
        textLongSchalter: false,
        textLong:
          'Die ver.di Jugendbildungsstätte Berlin-Konradshöhe e.V. wurde umfassend bei der Erstellung von professionelle Druckprodukten wie Poster, Flyer, Briefpapier Kopiervorlagen und der Kursbroschur begleitet. Dabei habe den Kunden von der ersten Beratung bis zur Umsetzung des Designs für alle Druckprodukte sowie dem Druckmanagement begleitet. Die Gestaltung wurde jeweils unter strenger Beachtung der Kundenvorgaben und des ver.di CD erstellten und eingefügt.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'Website Verdi Jugend',
        year: '2003-2007',
        imgThumb: 'verdiweb.jpg',
        imgTfull: 'verdiweb.jpg',
        tags: ['web', 'adobecc', 'design'],
        textShort:
          '<strong>Kunde:</strong> ver.di Jugendbildungsstätte Berlin-Konradshöhe e.V. </br> <strong>Leistung:</strong> Beratung, Gestaltung, Fotos, Website<br> <strong>Technologie:</strong> ver.di CMS, Microsite, Adobe Photoshop',
        textLongSchalter: false,
        textLong:
          'Die ver.di Jugendbildungsstätte Berlin-Konradshöhe e.V. wurde umfassend bei der Erstellung eines professionellen Auftritts in Internet begleitet. Ich habe den Kunden von der ersten Beratung bei der Umsetzung von Inhalten und des Designs verschiedene Projekt-Microsites begleitet. Die Gestaltung wurde jeweils unter strenger Beachtung der Kundenvorgaben und des ver.di CD erstellten und eingefügt.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'Website Saxx-Immobilien',
        year: 2003,
        imgThumb: 'saxx.jpg',
        imgTfull: 'saxx.jpg',
        tags: ['web'],
        textShort:
          '<strong>Kunde:</strong> Saxx-Immobilien</br> <strong>Leistung:</strong> Website<br> <strong>Technologie:</strong> HTML, Adobe Photoshop',
        textLongSchalter: false,
        textLong:
          'Das Unternehmen Saxx-Immobilien wurde umfassend bei der Erstellung eines professionellen Auftritts in Internet begleitet. Ich habe den Kunden bei dem Design beraten und die Website umgesetzt.',
        linkName: '',
        linkUrl: ''
      },
      {
        title: 'Website CJS',
        year: 2003,
        imgThumb: 'cjs.jpg',
        imgTfull: 'cjs.jpg',
        tags: ['web'],
        textShort:
          '<strong>Kunde:</strong> Carsten Joachim Schölzki</br> <strong>Leistung:</strong> Website<br> <strong>Technologie:</strong> HTML, Adobe Photoshop',
        textLongSchalter: false,
        textLong:
          'Für den Kunden Carsten Joachim Schölzki wurde ein professioneller Auftritt im Internet erstellt. Ich habe für den Kunden das vorhandene Design der Visitenkarte für die Website umgesetzt.',
        linkName: '',
        linkUrl: ''
      }
      // ,
      // {
      //   title: 'Vorlage',
      //   year: 9999,
      //   imgThumb: 'image.jpg',
      //   imgFull: 'image.jpg',
      //   tags: ['print', 'web'],
      //   textShort: '<strong>Kunde: Kundenname/Eigenprojekt</strong> - // <strong>Produkt: Datenbank, Website, Printbroschur</strong>: // ... -  <strong>Technologie:</strong> ...',
      //   textLongSchalter: false,
      //   textLong: '<p><strong>Kunde</strong>  ausschreiben und Bla</p> // </p><p>Umsetzung als <strong>Produktflyer</strong> wozu gut und // wir funzt ausschreiben</p><p>Die <strong>Web Frameworks oder // Adobe CC</strong> wurde wie genutzt ausschreiben</p> ',
      //   linkName: '',
      //   linkUrl: ''
      // }
    ],
    tagFilter: []
  }),
  methods: {
    // next tag auto population + filter
    forceLowerCase (e, prop) {
      const start = e.target.selectionStart
      e.target.value = e.target.value.toLowerCase()
      this.$set(prop, e.target.value)
      e.target.setSelectionRange(start, start)
    },
    addKeywordAll (tagItem) {
      if (!this.keywordsAll.includes(tagItem)) {
        this.keywordsAll.push(tagItem)
      }
    },
    addKeywordFilter (toAddTagItem) {
      this.tagFilter = toAddTagItem.toLowerCase()
    }
  }
}
</script>
<style scoped>
.project .v-btn .v-icon {
  margin-left: 10px;
}
.project .year {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 5%;
  padding: 0.3rem 0.6rem 0.3rem;
  font-size: 120%;
  font-weight: bold;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}
/* .schalter {font-size:;} */
/* .projectcontainer {z-index:5;} */
/*
  .flipcard {
    border:1px solid green;
    z-index: 20;
    position: absolute;
    bottom: 0px;
    background-color: white;
  }

  */
</style>
