<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <div>
        <h1 class="display-1 mt-2 text-xs-center">Meine Leistungen für Sie</h1>
        <v-flex xs12>
          <v-container pt-4 pa-0 grid-list-xl fluid>
            <v-layout row wrap>
              <v-flex pa-2 xs12 sm6 lg3>
                <v-card
                  to="/projects"
                  class="teaserImg elevation-0 transparent"
                >
                  <v-card-text class="text-xs-center">
                    <v-img
                      class="border"
                      aspect-ratio="1"
                      height="400px"
                      min-height="240px"
                      max-height="400px"
                      src="/img/leistung_web.png"
                      alt="Online" title="Online">
                    </v-img>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-xs-center">Online</div>
                  </v-card-title>
                  <v-card-text>
                    <h2 class="title mb-4">Layout, Frontend Programmierung, CMS-Systeme, Bannergestaltung, E-Mail Newsletter, Social-Media Marketing, Mailings, Präsentationen</h2>
                    <p>Ihr Internetauftritt ist das wichtigste Aush&auml;ngeschild. Die Besucher Ihrer Website haben klare Erwartungen: Intuitive Bedienbarkeit, schnell verf&uuml;gbare Informationen und eine angenehme Darstellung. Ich berate Sie bei der Konzeption und f&uuml;hre die Programmierung nach Ihren W&uuml;nschen aus, um Besucher vom ersten Klick an zu &uuml;berzeugen.<a id="kommunikation"></a></p>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex pa-2 xs12 sm6 lg3>
                <v-card class="teaserImg elevation-0 transparent">
                  <v-card-text class="text-xs-center ">
                    <v-img
                      class="border"
                      aspect-ratio="1"
                      height="400px"
                      min-height="240px"
                      max-height="400px"
                      src="/img/leistung_komm.png"
                      lazy-src="/img/leistung_komm.png"
                      alt="Print" title="Print">
                    </v-img>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Print</div>
                  </v-card-title>
                  <v-card-text>
                    <h2 class="title mb-4">Druckvorstufe, Druckmanagement, Qualitätssicherung, Visitenkarten, Briefbogen, Umschläge, Mappen, Notizblöcke, Kalender, Aufkleber, Stempel, Flyer, Broschüren, Plakate & Poster, Anzeigen, Werbeartikel</h2>
                    <p>Ich helfe Ihnen, Ihre Kompetenz sichtbar zu machen und entwickle Druckprodukte in einheitlichem Erscheinungsbild aus Farbe, Typografie, Bild- und Grafikelementen, die kombiniert eine stimmige Gesamtoptik ergeben.<a id="werbung"></a></p>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex pa-2 xs12 sm6 lg3>
                <v-card class="teaserImg elevation-0 transparent">
                  <v-card-text class="text-xs-center">
                    <v-img
                      class="border"
                      aspect-ratio="1"
                      height="400px"
                      min-height="240px"
                      max-height="400px"
                      src="/img/leistung_outdoor.png"
                      lazy-src="/img/leistung_outdoor.png"
                      alt="Außenwerbung" title="Außenwerbung">
                    </v-img>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-xs-center">Außenwerbung</div>
                  </v-card-title>
                  <v-card-text>
                    <h2 class="title mb-4">Plakate, Firmenschilder, Werbetafeln, Außenfahnen, Spannbanner, Messestände, City-Light Poster, Fahrzeug-Beschriftung</h2>
                    <p>Ob Sie ein komplettes Location Branding f&uuml;r ihre Filiale w&uuml;nschen oder nur ein stilvolles T&uuml;rschild, nach einer ausf&uuml;hrlichen Erfassung Ihrer Anforderungen und einer Beratung, erfolgt eine z&uuml;gige Umsetzung.<a id="logo"></a></p>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex pa-2 xs12 sm6 lg3>
                <v-card class="teaserImg elevation-0 transparent">
                  <v-card-text class="text-xs-center ">
                    <v-img
                      class="border"
                      aspect-ratio="1"
                      height="400px"
                      min-height="240px"
                      max-height="400px"
                      src="/img/leistung_logo.png"
                      alt="Gestaltung" title="Gestaltung">
                    </v-img>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-xs-center">Gestaltung</div>
                  </v-card-title>
                  <v-card-text>
                    <h2 class="title mb-4">Beratung, Gestaltung, Wort- & Bildmarken, Logo-Design, Corporate Design</h2>
                    <p>Bei der technischen Umsetzung passe ich Ihr Design der Corporate Identity an, um einen hohen Wiedererkennungswert zu erreichen. Ich gestalte direkt für Sie oder stehe Ihrem Designer von der Namensfindung bis hin zur grafischen Umsetzung zur Verfügung.</p>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
        <h2 class="headline mb-4 text-xs-center">Der Ablauf meiner <span class="text-no-wrap">Dienstleistungen ist</span></h2>
<!-- Stepper Mobile -->
        <v-flex sm10 offset-sm1>
        <v-stepper class="hidden-md-and-up" v-model="stepperNum" vertical >
          <v-stepper-step  @click="stepperNum = 2" :complete="stepperNum > 1" step="1">
            <h2>{{stepperTxt.head1}}</h2>
          </v-stepper-step>
          <v-stepper-content step="1" class="text-xs-center">
            <div class="headline" v-html="stepperTxt.content1"></div>
            <v-btn color="primary" @click="stepperNum = 2">
              weiter <v-icon color="white">expand_more</v-icon>
            </v-btn>
          </v-stepper-content>

          <v-stepper-step :complete="stepperNum > 2" step="2">
            <h2>{{stepperTxt.head2}}</h2>
          </v-stepper-step>
          <v-stepper-content step="2" class="text-xs-center">
            <div class="headline" v-html="stepperTxt.content2"></div>
            <v-btn color="primary" @click="stepperNum = 3">
              weiter <v-icon color="white">expand_more</v-icon>
            </v-btn>
          </v-stepper-content>

           <v-stepper-step step="3">
            <h2>{{stepperTxt.head3}}</h2>
          </v-stepper-step>
          <v-stepper-content step="3" class="text-xs-center">
            <v-btn color="primary" @click="stepperNum = 1">
              neuer Auftrag <v-icon color="white">expand_less</v-icon>
            </v-btn>
            <div class="headline" v-html="stepperTxt.content3"></div>
          </v-stepper-content>
         </v-stepper>
        </v-flex>
<!-- stepper desktop -->
        <v-flex hidden-sm-and-down md12 lg8 offset-lg2 xl6 offset-xl3>
          <v-stepper  v-model="stepperNum">
            <v-stepper-header>
              <v-stepper-step :complete="stepperNum > 1" step="1">{{stepperTxt.head1}}</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step :complete="stepperNum > 2" step="2">{{stepperTxt.head2}}</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step step="3">{{stepperTxt.head3}}</v-stepper-step>
            </v-stepper-header>
            <v-stepper-items>
              <v-stepper-content step="1">
                <v-card height="100px">
                  <div class="headline text-xs-center" v-html="stepperTxt.content1"></div>
                </v-card>
                <v-btn class="right" color="primary" @click="stepperNum = 2">
                  weiter <v-icon color="white">chevron_right</v-icon>
                </v-btn>
              </v-stepper-content>
              <v-stepper-content step="2">
                <v-card height="100px">
                  <div class="headline text-xs-center" v-html="stepperTxt.content2"></div>
                </v-card>
                <v-btn class="right" color="primary" @click="stepperNum = 3">
                  weiter <v-icon color="white">chevron_right</v-icon>
                </v-btn>
              </v-stepper-content>
              <v-stepper-content step="3">
                <v-card height="100px">
                  <div class="headline text-xs-center" v-html="stepperTxt.content3"></div>
                </v-card>
                <v-btn color="primary" @click="stepperNum = 1">
                  <v-icon color="white">chevron_left</v-icon> neuer Auftrag
                </v-btn>
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>
        </v-flex>
      </div>
    </v-slide-y-transition>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      stepperNum: 1,
      stepperTxt: {
        head1: 'Beratung',
        content1: 'Nach einer <strong>kostenlosen Beratung</strong> werden Ihre Vorstellungen in einem Konzept mit dem Angebot zusammengefasst.',
        head2: 'Vorschläge',
        content2: 'Nach Annahme des Angebotes erstelle ich das <strong>Layout</strong>, formuliere bzw. f&uuml;ge Ihre <strong>Texte</strong> ein und bringe <strong>Grafiken sowie Fotos</strong> werbewirksam ein.',
        head3: 'Umsetzung',
        content3: 'Die entstandene Vorlage wird von mir für das <strong>Web auf Ihrem Server</strong> bereitgestellt oder von der <strong>Druckerei</strong> als fertiges Produkt an Sie geliefert.'
      }
    }
  }
}
</script>
<style scoped>
 .teaserImg h2.title { line-height:130%!important; }
 .border {border:1px solid lightgrey;}
</style>
