<template>
  <v-app class="background">
    <v-toolbar color="white" light fixed app dense>
      <v-toolbar-title class="pointer">
        <router-link :to="logo.target" tag="span">
          digitalPRA<v-icon class="accent--text">healing</v-icon>IS
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- HAMBURGER -->
      <v-toolbar-side-icon
        @click.stop="sideNav = !sideNav"
        class="hidden-md-and-up pointer">
      </v-toolbar-side-icon>
      <!-- NAVtop desktop -->
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          flat
          ripple
          v-for="item in navMenuItems"
          :key="item.title"
          :title="item.title"
          :to="item.target"
          class="pointer"
        >
          <v-icon class="pointer">{{ item.icon }}</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <!-- SideNAVdrawer mobile -->
    <v-navigation-drawer
      fixed
      v-model="sideNav"
      right
      app
      class="sideNavBack"
    >
      <v-list class="my-0 py-0">
        <v-hover>
          <v-list-tile
            to="/"
            slot-scope="{ hover }"
            :class="`elevation-${hover ? 12 : 2}`"
          >
            <v-list-tile-action>
              <v-icon class="black--text darken-1 pl-4">healing</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="black--text uppercase bold">
                Home
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-hover>
        <v-list-tile
          v-for="item in navMenuItems"
          :key="item.title"
          :to="item.target"
          style="border-bottom:1px solid lightgrey;"
        >
          <v-list-tile-action>
            <v-icon color="primary darken-1" class="pl-4">{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="uppercase bold">{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>

        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <!-- CONTENT ROUTER  -->
    <v-content class="background">
      <router-view></router-view>
    </v-content>
    <!-- FOOTER -->
    <v-footer
      height="auto"
    >
      <v-layout
        row
        class="black"
        justify-center
        wrap
      >
        <v-btn
          v-for="item in navMenuItems"
          :key="item.title"
          :to="item.target"
          color="white"
          flat
        >
          {{ item.title }}
        </v-btn>
        <v-flex xs12>
          <v-card
            flat
            tile
            class="white black--text text-xs-center"
            >
            <v-card-text>
              <template v-for="(item, index) in footer">
                <v-btn
                  :key="index"
                  class="mx-3 white--text "
                  :href="item.link"
                  target="_blank"
                  icon>
                  <img :src="item.src" class="svg" size="14px" />
                </v-btn>
              </template>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>
</template>
<script>
export default {
  name: 'App',
  data () {
    return {
      logo: { icon: 'fas fa-users', title: 'MeetUps', target: '/' },
      sideNav: false,
      navMenuItems: [
        { icon: 'build', title: 'Leistungen', target: '/service' },
        { icon: 'view_carousel', title: 'Referenzen', target: '/projects' },
        { icon: 'face', title: 'Profil', target: '/profile' },
        { icon: 'room', title: 'Kontakt', target: '/contact' },
        { icon: 'account_balance', title: 'Impressum', target: '/legal' }
      ],
      footer: [
        { src: '/img/logo/twitter.svg',
          icon: 'fab fa-twitter-square',
          link: 'https://twitter.com/riskieee' },
        { src: '/img/logo/facebook.svg',
          icon: 'fab facebook-square',
          link: 'https://www.facebook.com/robert.karpinski.030' },
        { src: '/img/logo/meetup.svg',
          icon: 'fab meetup',
          link: 'https://www.meetup.com/members/176428972/' },
        { src: '/img/logo/xing.svg',
          icon: 'fab fa-xing-square',
          link: 'https://www.xing.com/profile/Robert_Karpinski' },
        { src: '/img/logo/linkedin.svg',
          icon: 'fab fa-linkedin ',
          link: 'https://linkedin.com/in/robert-karpinski-030' }
      ]
    }
  }
}
</script>
<style>
  .background {
    background: white url(/img/backs/grid-floor.jpg) no-repeat fixed center;
    background-size: cover;
  }
  .sideNavBack{
    background: linear-gradient(0deg,rgba(0,0,0,.5),rgba(150,150,150,.5) 30%,rgba(255, 255, 255, 1)) 50%;
  }
  .pointer:hover { color:#b71c1c!important;  cursor: pointer; }
  .uppercase { text-transform: uppercase; }
  .bold { font-weight: bold; }
  footer .svg { width:40px; transition: all 0.5s ease-in-out; }
  footer .svg:hover { transform: scale(1.5); transition: scale .2s; }
</style>
